*{
  box-sizing: border-box;
}
.detalledeserie{
  overflow: none;
}
.subcontainer{
  float: left;
  width: 45%;
  margin-right: 2%;
  margin-left: 8%;

}
.anchitomedia{
  width: 80%;
}
.checked {
  color: orange;
}
.fotito{
  width:50%;
  border: #1e87f0;
  border-style: outset;

}
.divfoto {
  float: left;
  width: 45%;
  margin-right: 0;
  text-align: center;
}
.color{
 color: white;
 font-family: Helvetica;
}
