*{
  box-sizing: border-box;
}
body{
  background-image: url(https://img.freepik.com/vector-gratis/fondo-noche-estrellada-violeta-degradado_23-2148282641.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
