.resultado{
  color: white;
}
.busq {
  font-size: 20px;
}
.main{
  min-height: 600px;
  padding-top: 140px;
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 440px) {
    .nav-right{
      display: none;
    }
  .invisible {
    display: block;


  }
  #altodelmenu {
    height: auto;
    width: auto;
    right:8%;
  }
  .iconmenu{
    color:white;
  }
